<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">How To Manage JSON Requests</h3>
      </div>
      <hr/>
      <div>
      <form action="request" method="post">
        <textarea cols="60" rows="8" name="jsondata">[
  { "id": "1001", "type": "Regular" },
  { "id": "1002", "type": "Chocolate" },
  { "id": "1003", "type": "Blueberry" },
  { "id": "1004", "type": "Devil's Food" }
]</textarea><br /><br />
        <input type="submit" value="Send">
      </form>
      </div>
    </div>
  </body>
</html>
