<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
      <link href="https://fonts.googleapis.com/css?family=Orbitron:700" rel="stylesheet">
   </head>

   <body style="background-color:#99ccff">
      <h1 style="height:auto;display:block;text-align:center;font-family: 'Orbitron', sans-serif;font-size: 3em;">CERBERUS</h1>
      <a href="/analyze" style="display:inline-block;width:100%;height:auto;text-align:center;"><img style="width:100%;height:auto;" src="http://img15.deviantart.net/819b/i/2015/112/6/6/cerberus_emblem_by_kira_the_huntress-d7ms93l.png"></a>
      <!-- <h2>The date and time on the server is: {{ time }}</h2> -->
   </body>
</html>