<!DOCTYPE html>
<head>
  <title>{{ title }}</title>
  <link href="https://fonts.googleapis.com/css?family=Orbitron:700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./main.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript">
  $(window).load(function() {
    $(".loader").fadeOut("slow");
  })
  </script>
</head>

<body style="background-color:#99ccff">
  <h1 class="title">CERBERUS</h1>

  <a href="/display" class="cerberuslink">
    <div class="cerberus-logo"></div>
  </a>

  <!-- <div class="loader"></div> -->
  <!-- <h2>The date and time on the server is: {{ time }}</h2> -->
</body>
</html>
